In [1]:
import pandas as pd

In [2]:
concentration = pd.read_csv('./data/2019/19_concentrations.csv')
labels = pd.read_csv('./data/2019/19_yellow_labels.csv')
pit = pd.read_csv('./data/2019/19_avg_time_since_pit.csv')
weather = pd.read_csv('./data/weather_data/2019_weather.csv', sep=';')

In [3]:
max_concentration = pd.DataFrame(columns=['Time', 'Max Concentration'])
temp_max = 0
for index, row in concentration.iterrows():
    sector = row[1]
    if sector == 1:
        temp_max = 0
    if row[2] > temp_max:
        temp_max = row[2]
    if sector == 13:
        max_concentration.loc[index] = [row[0], temp_max]

In [8]:
start_time = weather['TIME_UTC_SECONDS'].iloc[0]

with open('./data/2019/19_weather_mod.csv', 'w') as f:
    f.write('Time,Track Temp,Wind Speed\n')
    for index, row in weather.iterrows():
            f.write("%s,%s,%s\n"%((row[0]-start_time)//20 * 20, row[3], row[6]))
            f.write("%s,%s,%s\n"%((row[0]-start_time+20)//20 * 20, row[3], row[6]))
            f.write("%s,%s,%s\n"%((row[0]-start_time+40)//20 * 20, row[3], row[6]))
weather_mod = pd.read_csv('./data/2019/19_weather_mod.csv')
# weather_mod[weather_mod['Time'] == 16940]

In [9]:
agg = max_concentration.merge(pit, how='inner', on='Time')
agg = agg.merge(weather_mod, how='inner', on='Time')
agg = agg.merge(labels, how='inner', on='Time')
agg

         Time  Max Concentration   Last Pit  Track Temp  Wind Speed  Yellow
0        20.0          26.265752   0.333333    57.00002         2.6       0
1        40.0          18.707483   0.666667    57.00002         2.6       0
2        60.0          21.505376   1.000000    57.00002         0.0       0
3        80.0          22.408964   1.333333    57.00002         0.0       0
4       100.0          16.846361   1.666667    57.00002         0.0       0
...       ...                ...        ...         ...         ...     ...
3934  79200.0           8.333333  55.860050    57.00002         3.2       0
3935  79220.0           2.688172  56.193383    57.00002         3.2       0
3936  79240.0           4.201681  56.526717    57.00002         4.6       0
3937  79260.0           2.801120  56.860050    57.00002         4.6       0
3938  79280.0           2.338270  57.193383    57.00002         4.6       0

[3939 rows x 6 columns]

In [10]:
agg.to_csv('./data/2019/19_agg_data.csv', index=False)

,TIME_UTC_SECONDS,TIME_UTC_STR,AIR_TEMP,TRACK_TEMP,HUMIDITY,PRESSURE,WIND_SPEED,WIND_DIRECTION,RAIN,Unnamed: 9
0,1579977697,25-Jan-20 18:41:37,68.39996,87.00008,38,30.047172,1.9,355,-1,NaN
1,1579977757,25-Jan-20 18:42:37,68.30006,87.99998,38,30.049239,1.9,16,-1,NaN
2,1579977817,25-Jan-20 18:43:37,68.30006,89.00006,38,30.045991,1.3,221,-1,NaN
3,1579977877,25-Jan-20 18:44:37,68.30006,89.99996,38,30.045991,1.9,103,-1,NaN
4,1579977937,25-Jan-20 18:45:37,68.39996,91.00004,37,30.048058,2.6,207,-1,NaN
...,...,...,...,...,...,...,...,...,...,...
1433,1580063808,26-Jan-20 18:36:48,63.69998,69.00008,43,30.061051,0.6,32,-1,NaN
1434,1580063868,26-Jan-20 18:37:48,63.80006,68.00000,43,30.060165,1.3,25,-1,NaN
1435,1580063928,26-Jan-20 18:38:48,63.89996,68.00000,43,30.058098,2.6,346,-1,NaN
1436,1580063988,26-Jan-20 18:39:48,64.00004,68.00000,43,30.058984,1.3,336,-1,NaN
1437,1580064048,26-Jan-20 18:40:48,64.00004,68.00000,43,30.058098,1.3,90,-1,NaN