In [2]:
import pandas as pd

In [34]:
concentration = pd.read_csv('./data/concentrations.csv')
labels = pd.read_csv('./data/yellow_labels.csv')
pit = pd.read_csv('./data/avg_time_since_pit.csv')
weather = pd.read_csv('./data/weather.csv', sep=';')

Time             20.0
Sector            1.0
Concentration     0.0
Name: 0, dtype: float64

In [35]:
max_concentration = pd.DataFrame(columns=['Time', 'Max Concentration'])
temp_max = 0
for index, row in concentration.iterrows():
    sector = row[1]
    if sector == 1:
        temp_max = 0
    if row[2] > temp_max:
        temp_max = row[2]
    if sector == 13:
        max_concentration.loc[index] = [row[0], temp_max]

In [49]:
start_time = weather['TIME_UTC_SECONDS'].iloc[0]

with open('./data/weather_mod.csv', 'w') as f:
    f.write('Time,Track Temp,Wind Speed, Rain\n')
    for index, row in weather.iterrows():
            f.write("%s,%s,%s,%s\n"%(row[0]-start_time, row[3], row[6], row[8]))
            f.write("%s,%s,%s,%s\n"%(row[0]-start_time+20, row[3], row[6], row[8]))
            f.write("%s,%s,%s,%s\n"%(row[0]-start_time+40, row[3], row[6], row[8]))
weather_mod = pd.read_csv('./data/weather_mod.csv')
weather_mod

       Time  Track Temp  Wind Speed   Rain
0         0    87.00008         1.9     -1
1        20    87.00008         1.9     -1
2        40    87.00008         1.9     -1
3        60    87.99998         1.9     -1
4        80    87.99998         1.9     -1
...     ...         ...         ...    ...
4309  86311    68.00000         1.3     -1
4310  86331    68.00000         1.3     -1
4311  86351    68.00000         1.3     -1
4312  86371    68.00000         1.3     -1
4313  86391    68.00000         1.3     -1

[4314 rows x 4 columns]

In [51]:
agg = max_concentration.merge(pit, how='inner', on='Time')
agg = agg.merge(labels, how='inner', on='Time')
agg = agg.merge(weather_mod, how='inner', on='Time')
agg

,Time,Max Concentration,Last Pit,Yellow,Track Temp,Wind Speed,Rain
0,20.0,21.697795,0.333333,0,87.00008,1.9,-1
1,40.0,15.306122,0.666667,0,87.00008,1.9,-1
2,60.0,15.456989,1.000000,0,87.99998,1.9,-1
3,80.0,15.406162,1.333333,0,87.99998,1.9,-1
4,100.0,15.498652,1.666667,0,87.99998,1.9,-1
...,...,...,...,...,...,...,...
216,79220.0,6.280941,19.892819,0,64.00004,0.6,-1
217,79240.0,3.957776,20.226152,0,64.00004,0.6,-1
218,79260.0,8.333333,20.559485,0,64.00004,2.6,-1
219,79280.0,3.501401,20.286417,0,64.00004,2.6,-1
220,79300.0,3.996962,20.619750,0,64.00004,2.6,-1

In [52]:
agg.to_csv('./data/agg_data.csv', index=False)

In [48]:
weather

,TIME_UTC_SECONDS,TIME_UTC_STR,AIR_TEMP,TRACK_TEMP,HUMIDITY,PRESSURE,WIND_SPEED,WIND_DIRECTION,RAIN,Unnamed: 9
0,1579977697,25-Jan-20 18:41:37,68.39996,87.00008,38,30.047172,1.9,355,-1,NaN
1,1579977757,25-Jan-20 18:42:37,68.30006,87.99998,38,30.049239,1.9,16,-1,NaN
2,1579977817,25-Jan-20 18:43:37,68.30006,89.00006,38,30.045991,1.3,221,-1,NaN
3,1579977877,25-Jan-20 18:44:37,68.30006,89.99996,38,30.045991,1.9,103,-1,NaN
4,1579977937,25-Jan-20 18:45:37,68.39996,91.00004,37,30.048058,2.6,207,-1,NaN
...,...,...,...,...,...,...,...,...,...,...
1433,1580063808,26-Jan-20 18:36:48,63.69998,69.00008,43,30.061051,0.6,32,-1,NaN
1434,1580063868,26-Jan-20 18:37:48,63.80006,68.00000,43,30.060165,1.3,25,-1,NaN
1435,1580063928,26-Jan-20 18:38:48,63.89996,68.00000,43,30.058098,2.6,346,-1,NaN
1436,1580063988,26-Jan-20 18:39:48,64.00004,68.00000,43,30.058984,1.3,336,-1,NaN
1437,1580064048,26-Jan-20 18:40:48,64.00004,68.00000,43,30.058098,1.3,90,-1,NaN