In [2]:
import pandas as pd

In [34]:
concentration = pd.read_csv('./data/concentrations.csv')
labels = pd.read_csv('./data/yellow_labels.csv')
pit = pd.read_csv('./data/avg_time_since_pit.csv')
weather = pd.read_csv('./data/weather.csv', sep=';')

Time             20.0
Sector            1.0
Concentration     0.0
Name: 0, dtype: float64

In [35]:
max_concentration = pd.DataFrame(columns=['Time', 'Max Concentration'])
temp_max = 0
for index, row in concentration.iterrows():
    sector = row[1]
    if sector == 1:
        temp_max = 0
    if row[2] > temp_max:
        temp_max = row[2]
    if sector == 13:
        max_concentration.loc[index] = [row[0], temp_max]

In [45]:
weather_mod = pd.DataFrame(columns=['Time', 'Track Temp', 'Wind Speed','Rain'])
start_time = weather['TIME_UTC_SECONDS'].iloc[0]

with open('./data/weather_mod.csv', 'w') as f:
    f.write('Time,Track Temp,Wind Speed, Rain\n')
    for index, row in weather.iterrows():
            f.write("%s,%s,%s,%s\n"%(row[0]-start_time, row[3], row[6], row[8]))
            f.write("%s,%s,%s,%s\n"%(row[0]-start_time+20, row[3], row[6], row[8]))
            f.write("%s,%s,%s,%s\n"%(row[0]-start_time+40, row[3], row[6], row[8]))

Empty DataFrame
Columns: [Time, Track Temp, Wind Speed, Rain]
Index: []

In [41]:
agg = max_concentration.merge(pit, how='inner', on='Time')
agg = agg.merge(labels, how='inner', on='Time')
agg = weather_mod.merge(agg, how='inner', on='Time')
agg

,Time,Track Temp,Wind Speed,Rain,Max Concentration,Last Pit,Yellow
0,0.0,87.00008,1.9,-1.0,NaN,NaN,NaN
1,60.0,87.99998,1.9,-1.0,15.456989,1.000000,0.0
2,120.0,89.00006,1.3,-1.0,11.194030,2.000000,0.0
3,180.0,89.99996,1.9,-1.0,10.752688,3.000000,0.0
4,240.0,91.00004,2.6,-1.0,10.277903,4.000000,0.0
...,...,...,...,...,...,...,...
5686,86440.0,NaN,NaN,NaN,3.501401,40.337137,0.0
5687,86460.0,NaN,NaN,NaN,16.666667,39.016945,0.0
5688,86480.0,NaN,NaN,NaN,2.021563,39.541485,0.0
5689,86500.0,NaN,NaN,NaN,1.558846,43.666226,0.0
5690,86520.0,NaN,NaN,NaN,1.558846,47.083239,0.0

In [16]:
agg.to_csv('./data/agg_data.csv', index=False)

In [48]:
weather

,TIME_UTC_SECONDS,TIME_UTC_STR,AIR_TEMP,TRACK_TEMP,HUMIDITY,PRESSURE,WIND_SPEED,WIND_DIRECTION,RAIN,Unnamed: 9
0,1579977697,25-Jan-20 18:41:37,68.39996,87.00008,38,30.047172,1.9,355,-1,NaN
1,1579977757,25-Jan-20 18:42:37,68.30006,87.99998,38,30.049239,1.9,16,-1,NaN
2,1579977817,25-Jan-20 18:43:37,68.30006,89.00006,38,30.045991,1.3,221,-1,NaN
3,1579977877,25-Jan-20 18:44:37,68.30006,89.99996,38,30.045991,1.9,103,-1,NaN
4,1579977937,25-Jan-20 18:45:37,68.39996,91.00004,37,30.048058,2.6,207,-1,NaN
...,...,...,...,...,...,...,...,...,...,...
1433,1580063808,26-Jan-20 18:36:48,63.69998,69.00008,43,30.061051,0.6,32,-1,NaN
1434,1580063868,26-Jan-20 18:37:48,63.80006,68.00000,43,30.060165,1.3,25,-1,NaN
1435,1580063928,26-Jan-20 18:38:48,63.89996,68.00000,43,30.058098,2.6,346,-1,NaN
1436,1580063988,26-Jan-20 18:39:48,64.00004,68.00000,43,30.058984,1.3,336,-1,NaN
1437,1580064048,26-Jan-20 18:40:48,64.00004,68.00000,43,30.058098,1.3,90,-1,NaN