In [16]:
import pandas as pd

In [17]:
agg17 = pd.read_csv('../data/2017/17_agg_data.csv')
agg18 = pd.read_csv('../data/2018/18_agg_data.csv')
agg19 = pd.read_csv('../data/2019/19_agg_data.csv')
agg20 = pd.read_csv('../data/2020/20_agg_data.csv')

In [18]:
agg = pd.concat([agg17, agg18, agg19, agg20])
agg = agg[['Time', 'Max Concentration', 'Last Pit', 'Track Temp', 'Wind Speed', 'Rain', 'Yellow']]
agg

,Time,Max Concentration,Last Pit,Track Temp,Wind Speed,Rain,Yellow
0,20.0,30.833709,0.333333,NaN,NaN,NaN,0
1,40.0,19.788881,0.666667,NaN,NaN,NaN,0
2,60.0,22.615864,1.000000,NaN,NaN,NaN,0
3,80.0,24.406780,1.333333,NaN,NaN,NaN,0
4,100.0,17.844887,1.666667,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...
4308,86300.0,2.976190,50.117750,68.0,1.3,-1.0,0
4309,86320.0,2.826983,50.451083,68.0,1.3,-1.0,0
4310,86340.0,3.826531,50.784417,68.0,1.3,-1.0,0
4311,86360.0,2.803083,51.117750,68.0,1.3,-1.0,0
4312,86380.0,4.118051,51.451083,68.0,1.3,-1.0,0

In [19]:
agg.to_csv('../data/agg_all.csv', index=False)