In [2]:
import pandas as pd
import numpy as np

In [4]:
agg18 = pd.read_csv('../../data/2018/18_agg_score.csv')
agg19 = pd.read_csv('../../data/2019/19_agg_score.csv')
agg20 = pd.read_csv('../../data/2020/20_agg_score.csv')
agg21 = pd.read_csv('../../data/2020/20_agg_score.csv')

In [10]:
agg = pd.concat([agg18, agg19, agg20, agg21])
agg = agg.drop(agg.columns[0], axis=1)
agg

      Time  Risk Score  Sus Deriv  Flag
0      300   48.562849   0.000000     0
1      600   41.677266   0.000000     0
2      900   32.460243   0.000000     0
3     1200   23.512169   0.000000     0
4     1500   17.417242   0.000000     0
..     ...         ...        ...   ...
269  78000   18.891555  -0.005000     0
270  78300   18.700021   0.100000     0
271  78600   20.163530  -0.003333     0
272  78900   21.169962  -0.004167     0
273  79200   22.413348  -0.005833     0

[1124 rows x 4 columns]

In [12]:
agg.to_csv('../../data/agg_score.csv', index=False)