In [11]:
import pandas as pd
import numpy as np

In [12]:
agg18 = pd.read_csv('../../data/2018/18_agg_score.csv')
agg19 = pd.read_csv('../../data/2019/19_agg_score.csv')
agg20 = pd.read_csv('../../data/2020/20_agg_score.csv')
agg21 = pd.read_csv('../../data/2021/21_agg_score.csv')

In [13]:
agg = pd.concat([agg18, agg19, agg20, agg21])
# agg = agg.drop(agg.columns[0], axis=1)
agg

      Time  Risk Score  Sus Deriv  Flag
0      300   48.562849   0.000000     0
1      600   41.677266   0.000000     0
2      900   32.460243   0.000000     0
3     1200   23.512169   0.000000     0
4     1500   17.417242   0.000000     0
..     ...         ...        ...   ...
298  84900   21.407124   0.099167     0
299  85200   19.650490  -0.002500     0
300  85500   19.126459   0.365833     0
301  85800   17.995038   0.000000     0
302  86100   18.107595  -0.001667     0

[1153 rows x 4 columns]

In [14]:
agg.to_csv('../../data/agg_score.csv', index=False)