In [5]:
import pandas as pd

In [18]:
concentration = pd.read_csv('./data/concentrations.csv')
labels = pd.read_csv('./data/yellow_labels.csv')
concentration.iloc[0]

Time             20.0
Sector            1.0
Concentration     0.0
Name: 0, dtype: float64

In [19]:
agg = concentration.merge(labels, how='inner', on='Time')
agg

        Time  Sector  Concentration  Yellow
0         20       1       0.000000       0
1         20       2      21.697795       0
2         20       3       0.000000       0
3         20       4       0.000000       0
4         20       5       0.000000       0
...      ...     ...            ...     ...
56233  86520       9       0.000000       0
56234  86520      10       0.673854       0
56235  86520      11       1.558846       0
56236  86520      12       0.000000       0
56237  86520      13       0.000000       0

[56238 rows x 4 columns]

In [21]:
agg.to_csv('./data/agg_data.csv', index=False)